.abilities {
  border-spacing: 0;
  text-align: center;

  thead {
    font-size: 0.4em;
    font-weight: bold;
  }

  tbody {
    td:nth-child(4),
    td:nth-child(5) {
      background-color: #dcdcde;
      border-color: #dcdcde;

      input {
        background-color: inherit;
      }
    }
  }
}

@media print {
  .abilities {
    font-size: 0.7em;
  }
}
