.character-meta-data {
	display: grid;
	grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
			"character-name character-name character-name alignment alignment player-name player-name player-name player-name player-name"
			"class-name class-name level race race campaign campaign campaign homeland homeland"
			"deity size-category gender gender age size weight hair hair eyes";
	grid-gap: 10px;
}

.metadata-input-block {

}

.metadata-input-block > * {
	width: 100%;
}

.metadata-input-block input {
	display: block;
	border: none;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.metadata-input-block label {
	font-family: "Times New Roman", serif;
	text-transform: uppercase;
	font-size: 0.8em;
}
