.inverted-rounded-corners {
	/*background-color: black;*/
	color: white;
	font-size: 3em;
	position: relative;
	background-image: url('./inverse-border-radius.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: fit-content;
	--actual-padding: 5px;
	--side-padding-for-corners: 3.1em;
	padding: var(--actual-padding) calc(var(--actual-padding) + var(--side-padding-for-corners))
}

:root {
	--inverted-rounded-corners-width: 2em;
}

.inverted-rounded-corners:before,
.inverted-rounded-corners:after {
	/*border-radius: 50%;*/
	/*height: 50%;*/
	/*width: var(--inverted-rounded-corners-width);*/
	/*display: inline-block;*/
	/*content: ".";*/
	/*background-color: white;*/
	/*color: transparent;*/
	/*position: absolute;*/
	/*padding: 0;*/
	/*bottom: -25%;*/
}

.inverted-rounded-corners:before {
	left: calc(var(--inverted-rounded-corners-width) / -2);
}

.inverted-rounded-corners:after {
	right: calc(var(--inverted-rounded-corners-width) / -2);
}
