.textarea-with-lines {
  border: none;
  resize: none;
  width: 100%;
  font-size: inherit;

  // lines under text
  $lineHeight: 1.5em;
  line-height: $lineHeight;
  $lineColor: black;
  $ruleHeight: 2;
  background-image: linear-gradient(
    transparent,
    transparent calc(#{$lineHeight} - #{$ruleHeight}px),
    $lineColor calc(#{$lineHeight} - #{$ruleHeight}px),
    $lineColor calc(#{$lineHeight}),
    transparent calc(#{$lineHeight})
  );
  background-size: 100% calc(#{$lineHeight} - 0.5px);
  background-attachment: local;

  &:focus {
    outline: none;
  }
}
