@import 'src/variables';

@font-face {
  src: url('./IMFellEnglish-Regular.ttf');
  font-family: 'IM Fell English';
}

body {
  margin: 0;
  font-family: 'IM Fell English', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  color: $blackEquivalent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
